/* Variables
   ----------------------------- */

$break-mobile: max-width 600px
$break-tablet: max-width 768px

/* Imports
   ----------------------------- */

@import "compass"
@import "breakpoint"
@import "partials/colors"
@import "partials/helpers"
@import "partials/lightbox"
@import "partials/normalize"
@import "font-awesome.min.css"
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)

/* HTML
   ----------------------------- */

html
  box-sizing: border-box
  font-size: 62.5%

*, *:before, *:after
  box-sizing: inherit

body
  +font-size(16)
  font-family: 'Lato', sans-serif
  background: $black
  position: relative

.lt-ie9 body
  margin-top: 5em

ul, section, body
  margin: 0
  padding: 0

a
  text-decoration: none
  +link-colors($white, $primary)
  &:hover, &:focus
    text-decoration: none

a, input
  +transition(all .2s ease)

a, input, button, textarea, select
  &:active,
  &:focus
    +box-shadow(none)
    outline: none

p
  line-height: 1.5

/* Styles
   ----------------------------- */

.top,
.bottom
  position: absolute

.top
  top: -1em
  left: 0

.bottom
  bottom: -1.4em
  right: 0

.small
  text-transform: uppercase
  font-weight: normal
  +font-size(11)
  color: $white-dark
  strong
    color: $white

.side
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 30%
  background: $black
  overflow-y: scroll
  +breakpoint($break-mobile)
    width: 100%

.main
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background: $black url('../img/3-dark2.jpg') top center no-repeat
  //+background-size(cover)
  z-index: 20
  +transition(transform .3s ease)
  +box-shadow(0 0 10px $black-darker)
  overflow: hidden

.work
  position: absolute
  top: 0
  bottom: 0
  width: 70%
  background: rgba(black, .5)
  z-index: 21
  display: none
  +breakpoint($break-mobile)
    overflow-x: hidden
    width: 100%
  a
    color: $black-light

.intro
  padding: 2em
  color: $white
  text-align: center
  width: 100%
  max-width: 670px
  margin: 15% auto 0
  +breakpoint($break-mobile)
    margin-top: 1em
  div
    position: relative
    +font-size(48)
    font-weight: lighter
    +text-shadow(0 0 10px $black)

.timeline
  position: relative
  width: 100%
  margin: 0 auto
  padding: 1em 0
  list-style-type: none
  &:before
    position: absolute
    left: 24px
    top: 0
    content: ' '
    display: block
    width: 3px
    height: 100%
    margin-left: -3px
    background: $black-dark
    z-index: 5
  li
    padding: 1em 0 1em 2em
    cursor: pointer
    @extend .animate
    &:hover
      background: $black-light
    &:after
      content: ""
      display: block
      height: 0
      clear: both
      visibility: hidden
    &.active
      background: $black-dark

.direction-r
  position: relative
  width: 100%
  float: right

.flag
  position: relative
  display: inline-block
  padding: 0 1em
  border-radius: 5px
  font-weight: 600
  text-align: left
  color: $white
  margin: 0
  +font-size(16)
  &:before
    position: absolute
    top: 60%
    left: -16px
    content: ' '
    display: block
    width: 12px
    height: 12px
    margin-top: -10px
    background: $black-dark
    border-radius: 10px
    border: 1px solid $primary
    +box-shadow(0 0 0 2px $black-dark)
    z-index: 10

.desc
  margin: 1em 1em 0
  color: $white
  +font-size(13)
  font-style: italic
  line-height: 1.5em
  color: $white-dark

.work-container
  width: 100%
  position: absolute
  padding-top: 4em
  overflow-x: hidden
  overflow-y: initial

.lt-ie9 .work-container
  overflow-y: scroll

.work-piece
  position: absolute
  width: 90%
  left: 100%
  right: 0
  max-width: 800px
  background: $white-lighter
  padding: 1em
  margin: 0 auto 2em
  list-style: none
  text-align: center
  h3, p
    text-align: left
  p
    margin-bottom: 4em
    line-height: 1.5
    a
      color: $primary
      &:hover
        text-decoration: underline
  img
    width: 100%
    max-width: 800px
    height: auto
    margin: 0 auto
  .button
    border: 1px solid $white-dark
    &:hover
      background: $primary
      color: $white
      border: 1px solid $primary-dark

.prev, .next
  position: absolute
  padding: 0
  z-index: 10

.prev
  left: 1em

.next
  right: 1em

.close, .prev, .next
  width: 44px
  height: 44px
  display: block
  bottom: 1em
  text-align: center
  &:before
    line-height: 44px

.close
  position: absolute
  right: 15px
  top: 0
  color: $black-light
  background: $white-lighter
  z-index: 30
  display: none

.checklink
  width: auto
  +breakpoint($break-mobile)
    width: 100%
    margin-bottom: 4em

.load
  position: absolute
  top: .8em
  left: 49%
  width: 38px
  height: 38px
  //background: url('../img/loading.svg') center center no-repeat
  background: url('../img/loader2.gif') center center no-repeat
  display: none
  +breakpoint($break-mobile)
    left: .8em

.lt-ie9 .load
  background: url('../img/loader.gif') center center no-repeat

.helper
  position: absolute
  right: 2em
  top: 20%
  display: block
  padding: 10px 2.7em 10px 1em
  background: $white
  z-index: 5
  +border-radius(50px)
  +breakpoint($break-mobile)
    display: none
  span
    background: $primary
    color: $white
    padding: 7px 8px
    border-radius: 100%
    position: absolute
    top: 0.3em
    right: 0.3em

.about-me
  margin-right: 1em
  background: none
  border: 1px solid $white
  color: $white
  +breakpoint($break-mobile)
    margin: 0
  &:hover
    background: $white
    color: $black

.about-me-details
  font-weight: lighter
  a
    color: $primary
    &:hover
      color: $primary-lighter

.about-h3
  border-top: 1px solid $black-light
  font-weight: lighter
  margin-top: 1em
  padding-top: 1em

#checkout
  color: $black-light
  +breakpoint($break-mobile)
    margin-top: 1em
    width: auto

.about-me, #checkout
  +breakpoint($break-mobile)
    display: block

.intro .button
  margin-top: 20%

.about
  z-index: 30
  display: none
  opacity: 0
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background: $black
  background: transparentize($black, .05)
  padding: 0
  overflow-y: auto
  +font-size(40)
  color: $white
  text-align: center
  +breakpoint($break-mobile)
    +font-size(30)
    padding: 20px

.about-close
  color: $white
  position: absolute
  right: 1em
  top: 1em
  display: block
  +font-size(20)

.social
  position: absolute
  bottom: 1em
  left: 1em
  +breakpoint($break-mobile)
    left: .2em
    bottom: .2em
    display: none
  a
    +font-size(20)
    color: $white
    position: relative
    background: transparentize($black, .2)
    display: block
    padding: 15px 18px
    margin: .5em .5em 0 0
    width: 56px
    text-align: center
    border: 1px solid transparent
    +border-radius(50px)
    +breakpoint($break-mobile)
      margin: .2em .2em 0 0
    &:hover
      color: $primary
      border: 1px solid $primary

.logo
  position: absolute
  top: .5em
  left: .5em
  opacity: .5
  +breakpoint($break-mobile)
    right: .5em
    top: initial
    left: initial
    bottom: .2em
  &:hover
    opacity: 1
  svg
    width: 40px
    height: 40px
    fill: $white
  path
    fill: inherit

.browsehappy
  position: absolute
  bottom: -100%
  left: 0
  right: 0
  margin: 0
  text-align: center
  background: $black-darker
  color: $white-dark
  padding: 2em
  strong
    color: $white
  a
    color: $primary
    &:hover
      text-decoration: underline

.about-container
  +font-size(16)
  display: block
  margin: 4em auto
  padding: 1em
  width: 100%
  max-width: 600px

.about-info
  text-align: center

.about-picture
  display: block
  margin: 0 auto
  width: 100px
  height: 100px
  background: url('../img/avatar.jpg') center center no-repeat
  +border-radius(100%)
  +background-size(contain)

.about-name
  font-weight: lighter
  +font-size(25)
  margin: .5em 0 1em
  display: block

.about-details
  margin-bottom: 1em
  li
    width: 50%
    padding: 0 .5em
    list-style-type: none
    text-align: left
    margin: 1em 0
    font-weight: lighter
    +breakpoint($break-mobile)
      width: 100%
    &.odd
      float: left
    &.even
      float: right
    span
      text-transform: uppercase
      font-weight: bold
      display: block
      color: $white-darker
      +font-size(11)
    a
      color: $white
      border-bottom: 1px dotted $primary-darker
      &:hover
        color: $primary
