*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a h2 {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

#menu {
  font-size: 4em;
  top: -1.5em;
  left: 0.5em;
  position: absolute;
  display: none; }

.hidden {
  display: none; }

.fadeIn {
  animation: delayAni 1s;
  animation-fill-mode: both;
  -webkit-animation: delayAni 1s;
  -webkit-animation-fill-mode: both; }

@-webkit-keyframes delayAni {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes delayAni {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.animate {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.translate0 {
  -webkit-transform: translate3d(0%, 0, 0) !important;
  -moz-transform: translate3d(0%, 0, 0) !important;
  -ms-transform: translate3d(0%, 0, 0) !important;
  -o-transform: translate3d(0%, 0, 0) !important;
  transform: translate3d(0%, 0, 0) !important; }

.translate50 {
  -webkit-transform: translate3d(-50%, 0, 0) !important;
  -moz-transform: translate3d(-50%, 0, 0) !important;
  -ms-transform: translate3d(-50%, 0, 0) !important;
  -o-transform: translate3d(-50%, 0, 0) !important;
  transform: translate3d(-50%, 0, 0) !important; }

body {
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  position: relative; }

.navContain {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #202127;
  height: 126px; }

nav.mainNav {
  position: relative;
  display: block;
  max-width: 1140px;
  height: 126px;
  margin: 0 auto 138px;
  width: auto; }
  nav.mainNav .logo {
    margin: 2em;
    display: inline-block; }
  nav.mainNav ul {
    display: inline-block;
    height: 100%;
    width: auto;
    vertical-align: top; }
    nav.mainNav ul li {
      display: inline-block;
      height: 100%; }
      nav.mainNav ul li a {
        padding: 0 0.9em 0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        line-height: 126px;
        color: #b0b0b0;
        display: block;
        height: 100%;
        font-weight: 400;
        background: #202127; }
        nav.mainNav ul li a:before {
          content: "/";
          font-size: 2em;
          font-weight: 300; }
        nav.mainNav ul li a:hover {
          color: #eee;
          background: #272727; }

.fixed {
  animation: delayAni 2s;
  -webkit-animation: delayAni 2s;
  -webkit-animation-fill-mode: both;
  background-position: center;
  width: 100%;
  height: 138px;
  position: fixed;
  top: 126px;
  left: 0;
  z-index: 0; }

.review, .recentnews {
  position: relative;
  z-index: 99;
  background: white;
  display: inline-block;
  float: left; }
  .review h1, .recentnews h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 90px;
    color: #464646; }

.containbg {
  margin: 264px auto 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: white;
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.review {
  border-right: 1px solid #dddddd;
  max-width: 57.89474%; }
  .review h1 {
    margin: 0 0 0 113px; }
  .review .post {
    color: #464646;
    font-size: 1.125em;
    margin: 0 0 1em -0px; }
    .review .post a {
      margin: 0;
      padding: 0;
      display: block;
      width: 100%; }
      .review .post a img {
        width: 100%; }
      .review .post a h2 {
        text-transform: uppercase;
        color: #464646;
        margin: -2px 0 .9em 113px;
        padding-top: .9em;
        border-top: 5px solid #464646; }
      .review .post a:hover h2 {
        color: red;
        text-decoration: underline;
        border-color: red; }
    .review .post h2 {
      text-transform: uppercase;
      color: #464646;
      font-weight: 700;
      margin: -2px 0 .9em 113px;
      padding-top: .9em; }
    .review .post p {
      padding-right: 1.5em;
      line-height: 1.2em;
      margin: 0 0 .4em 113px;
      font-size: 0.9375em; }
    .review .post span {
      font-size: 0.75em;
      color: #b0b0b0;
      margin: 0 0 0 113px; }
      .review .post span:nth-child(2n) {
        float: right;
        margin: 0 2em; }
    .review .post form {
      padding-left: 113px;
      width: 100%; }
      .review .post form input, .review .post form textarea {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: .9em;
        margin-bottom: 1em;
        padding: 0 1em;
        display: block;
        width: 100%;
        border-style: solid;
        border-color: #dddddd;
        border-top-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-right-width: 0px; }
        .review .post form input:hover, .review .post form textarea:hover {
          border-color: red;
          background: #F8F8F8; }
      .review .post form input {
        height: 3em; }
      .review .post form textarea {
        padding: 1em;
        height: 8em; }

.recentnews {
  max-width: 42.10526%;
  padding: 0 2em 0; }
  .recentnews .post {
    margin: 0 0 1.5em; }
    .recentnews .post a {
      color: #464646; }
      .recentnews .post a:hover {
        color: red;
        text-decoration: underline; }
      .recentnews .post a img {
        float: left;
        padding-right: 1em; }
      .recentnews .post a p {
        padding-top: 0.6em;
        line-height: 1.3em; }
    .recentnews .post span {
      line-height: 2em;
      clear: both;
      font-size: 0.75em;
      color: #b0b0b0;
      text-align: right; }
      .recentnews .post span:nth-child(2n) {
        text-align: right;
        margin: 0 1em 0 0; }

.buttons {
  padding-left: 113px;
  width: 100%;
  display: block;
  border-style: solid;
  border-color: #dddddd;
  border-top-width: 1px;
  border-left-width: 1px; }
  .buttons a {
    font-size: 0.875em;
    font-weight: 700;
    color: #464646;
    text-transform: uppercase;
    line-height: 2em; }
    .buttons a:nth-child(2) {
      float: right;
      padding-right: 2em; }
    .buttons a:hover {
      color: red;
      text-decoration: underline; }

footer {
  padding: 20px 0 1em 113px;
  clear: both;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.875em;
  border-style: solid;
  border-color: #dddddd;
  border-top-width: 1px;
  border-bottom-width: 0px; }
  footer nav ul {
    display: inline-block;
    margin: 0 3em 1em 0; }
    footer nav ul li a {
      color: #464646;
      line-height: 2em; }
      footer nav ul li a:hover {
        color: red;
        text-decoration: underline; }

@media only screen and (max-width: 866px) {
  footer {
    border-bottom: 1px solid #dddddd; } }
@media only screen and (max-width: 767px) {
  body {
    font-size: 120%; }

  .review h1 {
    margin: 0 0 0 1em; }
  .review .post {
    margin: 0 0 1em -0px; }
    .review .post a h2 {
      margin: -3px 0 .9em 0;
      padding: .9em 0 0 1em; }
    .review .post h2 {
      margin: -2px 0 .9em 1em; }
    .review .post p {
      margin: 0 0 .4em 1em; }
    .review .post span {
      margin: 0 0 0 1em; }
      .review .post span:nth-child(2n) {
        margin: 0 1em 0 0; }
    .review .post form {
      padding-left: 0; }
      .review .post form input, .review .post form textarea {
        border-left-width: 0px; }
  .review footer {
    padding: 1em 0 0em 1em; }
    .review footer nav ul {
      display: inline-block;
      margin: 0 1em 1em 0; }

  .buttons {
    padding-left: 1em;
    border-left-width: 0px; }
    .buttons a:nth-child(2) {
      padding-right: 1em; }

  .copy {
    padding: 1em;
    text-align: center; }

  nav.mainNav .logo {
    margin: 1.7em; } }
@media only screen and (max-width: 700px) {
  body {
    background: #202127; }

  .review {
    border-right: none;
    max-width: 100%; }

  .recentnews {
    max-width: 100%;
    clear: both;
    display: block;
    padding: 0 1em; }

  .containbg {
    margin: 136px auto 0; }

  .navContain {
    width: auto;
    position: relative;
    background: none;
    height: auto; }

  nav.mainNav {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    position: fixed;
    border-right: 1px solid #353535;
    top: 0;
    right: 0;
    display: block;
    background: #202127;
    max-width: 50%;
    width: 50%;
    height: 100%;
    margin: 0;
    z-index: 9999999999; }
    nav.mainNav .logo {
      margin: 2em auto;
      display: block; }
    nav.mainNav ul {
      display: block;
      height: 100%;
      vertical-align: top; }
      nav.mainNav ul li {
        display: block;
        height: 3em;
        width: 100%;
        padding: 0 0 0 0;
        border-style: solid;
        border-color: #353535;
        border-bottom-width: 1px; }
        nav.mainNav ul li a {
          padding: 0;
          line-height: 2em;
          padding-left: 2em;
          height: 100%; }
          nav.mainNav ul li a:before {
            content: ""; }
          nav.mainNav ul li a:hover {
            color: #eee;
            background: #353535; }

  #menu {
    color: #464646;
    display: block; }
    #menu:hover {
      color: #eee; } }
