@import url(normalize.min.css);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.animate {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

input {
  border: none;
  outline: none; }

body {
  font-size: 1em;
  line-height: 1.4; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

* {
  font-family: 'Roboto', sans-serif; }

body {
  font-size: 100%;
  font-weight: 400;
  position: relative;
  background: #eeeeee url(../img/bg_gray.png) 0 0 repeat; }

header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 150px;
  background: purple url(../img/bg_purp.png) 0 0 repeat;
  border-bottom: 1px solid #eee; }
  header svg {
    margin: 2em auto;
    height: 130%;
    width: 100%; }

.main {
  max-width: 1200px;
  margin: 0 auto; }
  .main > h1, .main h2 {
    text-align: center;
    color: #666; }
  .main > h1 {
    margin: 3em 0 0 0;
    font-size: 1.9rem; }
  .main > h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 2em; }
  .main .right, .main .left {
    width: 49%;
    display: inline-block;
    vertical-align: top; }
  .main .left {
    float: left; }
    .main .left form {
      position: relative; }
      .main .left form input[type=text]:focus {
        background: #F8F8F8; }
    .main .left .todo {
      width: 70%;
      margin: 0 auto; }
  .main .right {
    float: right;
    position: relative; }
    .main .right .important {
      border-left: 5px solid #ff5858; }
    .main .right .notimportant {
      border-left: 5px solid #ffc258; }
    .main .right .useless {
      border-left: 5px solid #97ff58; }

.inputPop {
  position: absolute !important;
  top: 0%;
  left: 16%;
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0;
  color: #666;
  white-space: nowrap; }

.inputPop.active {
  transform: translate3d(0, -133%, 0);
  -webkit-transform: translate3d(0, -133%, 0);
  opacity: 1 !important; }

.drop {
  background: #e7e7e7;
  padding: 1em;
  width: 70%;
  margin: 0 auto 1em;
  display: block;
  line-height: 1.4em;
  box-shadow: 0 -1px 0 #cdcdcd, 0 1px 0 #eee; }
  .drop > h1 {
    font-size: 1rem;
    margin: 0 0 1em;
    text-align: right;
    color: #999;
    font-weight: 300; }
  .drop .list {
    padding: 1em 0;
    border-top: 1px solid #D8D8D8;
    color: #666;
    cursor: pointer; }
    .drop .list:hover {
      text-decoration: line-through; }
  .drop li {
    list-style: none; }

.item {
  cursor: move; }
  .item:hover {
    background: #F8F8F8; }

.hover {
  background: #F8F8F8 !important; }
